.my-background {
    background-color: rgb(1, 37, 105);
}

.gradient-background {
    background: linear-gradient(0deg,rgb(0, 5, 14), rgb(1, 37, 105),rgb(1, 60, 168));
    background-size: 180% 180%;
    animation: gradient-animation 30s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

h1 {
    font-size: 4rem;
    font-family:'DM Serif Display', serif;
    color: whitesmoke;
}

h2 {
    font-size: 2.25rem;
    font-family:'DM Serif Display', serif;
}

h3 {
    font-size: 1.75rem;
    font-family:'DM Serif Display', serif;
}

h4 {
    font-size: 1.4rem;
    font-family:'DM Serif Display', serif;
}

.interest-image{
    border-radius: 45%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(139, 139, 139);
    font-size: 1.1rem;
}

.contact-me a {
    background: rgb(1, 37, 105);
    border:0;
}

.contact-me a:hover {
    color: #fff;
    background: rgb(95, 126, 184);
    border: 0;
}



